@model IEnumerable<ScoreStore.Models.ApplicationUser>

@{
    ViewData["Title"] = "SearchUsersResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:18px;margin-left:18px;">
    <div class="col-md-6">
        <form class="row" asp-action="SearchUsersResults">
            <div class="form-group col-md-6" style="padding:0px;">
                <input name="SearchInput" class="form-control" placeholder="Search by profile name" />
            </div>
            <div class="form-group col-md-2" style="padding:0px;">
                <button type="submit" value="Search" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<hr>

@foreach (var item in Model)
{
    @if (!User.Identity.Name.ToUpper().Equals(item.NormalizedEmail))
    {
        <div class="row list-item bg-dark text-light" onClick="ConfirmFriendAddition('@item.Name', '@item.Id')">
            <div class="col-sm-2 d-flex justify-content-center list-item-img">
                <img class="list-item-img" src="~/img/user-icon.png" alt="User Icon">
            </div>
            <div class="col-sm-10">
                <div class="row list-item-title">
                    <div class="col-sm-8">
                        <h3 style="margin-top:4px;">@Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                    <div class="col-sm-4 text-right">
                        <i class="fa-solid fa-plus fa-2x icon-add-item"></i>
                    </div>
                </div>
                <div class="row text-center" style="margin-top:16px;">
                    <!--
                    <div class="col-sm-2 list-item-detail">
                        @Html.DisplayFor(modelItem => item.NormalizedEmail)
                    </div>
                    <div class="col-sm-1">|</div>
                        -->
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    /**
     * Prompts a dialog to the user for confirming addition of the specified friend
     * to their friend list.
     */
    function ConfirmFriendAddition(friend, id) {

        // dialog message to display
        let msg = "Are you sure you want to add '" + friend + "' to your friend list?";

        // prompt dialog to confirm addition of specified friend
        if (confirm(msg) == true) {

            // call asp action from controller to add specified friend
            window.location.href = '@Url.Action("AddFriend", "Home")/' + id;
        }
    }
</script>