@model IEnumerable<ScoreStore.Models.ApplicationUser>

@{
    ViewData["Title"] = "SearchUsersResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Search Results</h1>

<div>
    <p>Add users to your friend list by pressing the <b>Add Friend</b> button.</p>
</div>

<p>
    <a asp-action="SearchUsers">Search Again</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NormalizedEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (!User.Identity.Name.ToUpper().Equals(item.NormalizedEmail))
            {
        <td>
            <!--<a asp-action="AddFriend" asp-route-id="@item.Id">Add Friend</a>-->
            <button onClick="ConfirmFriendAddition('@item.Name', '@item.Id')">Add Friend</button>
        </td>
            }
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    /**
     * Prompts a dialog to the user for confirming addition of the specified friend
     * to their friend list.
     */
    function ConfirmFriendAddition(friend, id) {

        // dialog message to display
        let msg = "Are you sure you want to add '" + friend + "' to your friend list?";

        // prompt dialog to confirm addition of specified friend
        if (confirm(msg) == true) {

            // call asp action from controller to add specified game
            window.location.href = '@Url.Action("AddFriend", "Home")/' + id;
        }
    }
</script>