@model ScoreStore.Models.Scores

<div class="row">
    <div class="col-sm-4">
        <div id="donut_chart"></div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @ViewBag.Matches matches
            </div>
            <div class="col-sm-2">
                <a asp-action="AddScore" asp-route-id="@Model.GameId">Add Score</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="@ViewBag.ImageURL" alt="@ViewBag.Title Cover" width="256" height="256">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="timeline"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div id="area_chart"></div>
    </div>
    <div class="col-sm-6">
        <div id="column_chart_users"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

        // fetch 'wins' and 'losses' Model properties for donut chart win loss ratio
        var ratioWins = @Model.Wins;
        var ratioLosses = @Model.Losses;

        // fetch ViewData input for column chart wins per game
        var columnInput = "@ViewData["columns"]";

        // fetch 'streaklist' Model property for area and timeline charts
        var modelStreakList = "@Model.StreakList";

        // fetch ViewBag input for unique name of current user
        var modelName = "@(ViewBag.ProfileName)";

</script>
<script type="text/javascript" src="~/js/charts.js"></script>